.zchat-caret-remover::after {
    display: none !important;
}
.zchat-dropdown-menu{
    position: relative;
    .zchat-button-svg {
        position: absolute;
        top: calc(50% - 12px);
        left: calc(50% - 12px);
    }
    .zchat-icon-svg{
        margin-right: 8px;
    }

    .zchat-dropdown-menu-body {
        width:200px;
     
        .zchat-dropdown-item {
            width:calc(100% - 10px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: inherit;
            margin-left: 5px;
            margin-right: 5px;
            .test{
                display: flex;
                align-items: center;
            }
            .zchat-sub-dropdown-menu-body{
                transform: translate(170px, 48px);
                .zchat-sub-dropdown-item {
                    width:calc(100% - 10px);
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    border-radius: inherit;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
    
        
    }
    .zchat-dropdown-item{
        .zchat-sub-dropdown-menu-body {
            width:200px;
            .zchat-dropdown-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        
            
        }
    }
    
}

.zchat-dropdown-new-chat{
    .zchat-dropdown-new-chat-body{
        width: 300px;
        height:550px;
        .zchat-dropdown-new-chat-list{
            .zchat-list-header-title {
                margin-left: 0px;
            }
        }
        
    }
}